<h1>Cars#edit</h1>
<p>Find me in app/views/cars/edit.html.erb</p>

<%= simple_form_for(@car) do |f| %>
  <%= f.input :brand %>
  <%= f.input :model %>
  <%= f.input :year %>
  <%= f.input :pictures, as: :attachinary %>
  <%= f.submit %>
<% end %>